* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 16px;
  color: #000;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.button {
  background-color: #fff;
  border-radius: 5px;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  color: #151414;
}

/* -- header area start -- */
header {
  background-image: url(../images/banner3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 240px 0px;
}

.bannar-wrapper {
  max-width: 450px;
  margin-left: auto;
  text-align: right;
}

.bannar-wrapper h2 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}

.bannar-wrapper p {
  font-size: 16px;
  color: #fff;
  margin: 35px 0px;
}

/* -- header area end -- */

/* -- failure area start -- */

#failure {
  padding-top: 100px;
}

.failure-wrapper {
  display: flex;
  align-items: center;
}

.failure-left,
.failure-right {
  width: 50%;
}

.failure-right {
  padding-left: 70px;
}

.failure-left img {
  display: block;
  width: 100%;
}

.failure-right p {
  font-size: 16px;
  color: #444343;
  margin: 25px 0px;
}

.failure-right ul li {
  color: #444343;
  margin-bottom: 8px;
}

.failure-right ul li span {
  color: #16d887;
  display: inline-block;
  margin-right: 10px;
}

/* -- failure area end -- */
