* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 16px;
  color: #000;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.button {
  background-color: #fff;
  border-radius: 5px;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  color: #151414;
}

/* -- header area start -- */
header {
  background-image: url(../images/banner3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 240px 0px;
}

.bannar-wrapper {
  max-width: 450px;
  margin-left: auto;
  text-align: right;
}

.bannar-wrapper h2 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}

.bannar-wrapper p {
  font-size: 16px;
  color: #fff;
  margin: 35px 0px;
}

/* -- header area end -- */

/* -- failure area start -- */

#failure {
  padding-top: 100px;
}

.failure-wrapper {
  display: flex;
  align-items: center;
}

.failure-left,
.failure-right {
  width: 50%;
}

.failure-right {
  padding-left: 70px;
}

.failure-left img {
  display: block;
  width: 100%;
}

.failure-right p {
  font-size: 16px;
  color: #444343;
  margin: 25px 0px;
}

.failure-right ul li {
  color: #444343;
  margin-bottom: 8px;
}

.failure-right ul li span {
  color: #16d887;
  display: inline-block;
  margin-right: 10px;
}

/* -- failure area end -- */

/* -- plan area start -- */

.plan-wrapper h3 {
  text-align: center;
}

.plan-block-one img {
  display: inline-block;
  width: 92px;
}

.plan-block-one h4 {
  font-size: 30px;
  font-weight: 700;
  color: #151414;
  margin: 13px 0px;
}

.plan-block-one p {
  font-size: 25px;
  font-weight: 500;
  color: #737272;
}

.plan-block-one {
  text-align: center;
}

.plan-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan-block-one {
  margin-top: 60px;
}

#plan {
  padding-top: 100px;
}

/* -- plan area end -- */

/* -- tour area start -- */
.tour-wrapper h3 {
  text-align: center;
}

.tour-block {
  display: flex;
  gap: 20px;
}

.tour-one {
  width: 25%;
}

.tour-one-img img {
  display: block;
  width: 100%;
}

#tour {
  padding-top: 100px;
}

.tour-one {
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.5);
}

.tour-one-detals h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0px;
}

.tourlink {
  text-align: center;
  margin-top: 50px;
}

.tourlink a {
  background-color: #ff2e60;
  color: #fff;
}

/* -- tour area end -- */

/* -- call area start -- */
.call-wrapper {
  background: url(../images/watch.png),
    linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%);
  padding: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  background-blend-mode: multiply;
}

.call-wrapper h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 25px;
}

#call {
  padding: 100px 0px;
}

/* -- call area end -- */

/* footer area start */
footer {
  background: #151414;
  padding: 100px 0px;
}

.footer-wrapper {
  display: flex;
}

.footer-left h3 {
  font-size: 45px;
  font-weight: 700;
  color: #f8f8f8;
}

.footer-left p {
  color: #fff;
  margin-top: 20px;
}

.footer-left > ul li a {
  display: inline-block;
  color: #fff;
  margin-top: 25px;
}

.social-link {
  margin-top: 30px;
}

.social-link ul li {
  display: inline-block;
  margin-right: 15px;
}

.social-link ul li a img {
  display: inline-block;
  width: 40px;
}

.footer-right,
.footer-left {
  width: 50%;
}

.footer-form {
  width: 325px;
  margin-left: auto;
}

.footer-form h4 {
  font-weight: 600;
  color: #fff;
  font-size: 25px;
}

.footer-form input[type="email"] {
  display: block;
  width: 100%;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 18px;
  outline: none;
  margin-top: 35px;
  margin-bottom: 15px;
}

.footer-form input[type="submit"] {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  background-color: #005fac;
  border-radius: 8px;
  padding: 18px 35px;
  outline: none;
  border: 0;
  font-family: "Inter", sans-serif;
}

/* footer area end */
